.cardsContainer {
    display: flex;
    gap: 25px;
    padding: 0px 30px;
}

.cardEdit {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardField {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cardValue {
    width: 60% !important;
}

.cardButton {
    margin-left: auto;
    margin-right: 0;
}