.decksContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 30px;
}

.headerWrapper {
    display: flex;
}

.pageHeader {
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.cardsContainer {
    display: flex;
    gap: 25px;
}

.cardEdit {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardField {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cardValue {
    width: 60% !important;
}

.cardButton {
    margin-left: auto;
    margin-right: 0;
}

.errorMsg {
    margin-top: 10px;
    color: red;
}