.headerContainer {
    display: flex;
    padding: 10px 20px;
    margin-bottom: 20px;
    align-items: center;
}

.appHeader {
    display: flex;
    gap: 10px;
    align-items: center;
}

.appName {
    font-size: 30px;
    color: #ffffff;
    margin-right: 30px;
    font-weight: 700;
    cursor: pointer;

}

.leftHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightHeader {
     margin-left: auto;
}

.headerItem {
    font-size: 18px;
    color: #F5EBBB;
    cursor: pointer;
}