.cardOptions {
    display: flex;
    gap: 15px;
}

.deckViewModal {
    width: 80% !important;
    max-width: 80% !important;
}

.actionBtnWrapper {
    display: flex;
    // padding: 30px 30px;
}

.actionDropdownWrapper {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}